{{department.department_name}}

{{#each products as |product| }}
<div class="col-md-3 mt-4  margin-bottom">
    <div class="showProduct" >
        <div class="pic"><img src="/assets/img/foodsIcons/{{product.product_name}}.png" class="img-fluid" alt=""></div>
        <div class="product-info">
            <h4>{{product.product_name}}</h4>
            <span>{{product.price}} $</span>
            <p> Aisle: {{aisle.aisle_name}}</p>
            <p>Department : {{department.department_name}}</p>
            <div class="AddProduct">
                <a href="#" data-toggle="modal" data-target="#myModal"><i class="ri-menu-add-line"></i></a>
            </div>
        </div>
    </div>
</div>

{{/each}}


